<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Chatbot Demo</h1>
    <h3>A web demo for a chatbot using rasa_nlu and rasa_core.</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi there!</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        var socket = io.connect('http://localhost:5004');
        function addValue(val){
                socket.emit('user_uttered', {message:val});
                var userHtml = '<p class="userText"><span>' + val + '</span></p>';
                $("#chatbox").append(userHtml);
                $("#textInput").val("");
                return
        }
        $(document).ready(function() {
          socket.on('connect', function() {
              console.log("connected");
          });
            socket.on('bot_uttered', function(data) {
            console.log(JSON.stringify(data));
            if(data.text){
              var reply = data.text;
              var botHtml = '<p class="botText"><span>' + reply + '</span></p>';
              $("#chatbox").append(botHtml);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            }
            if(data.attachment && data.attachment.type =="image"){
              var src = data.attachment.payload.src;
              var botHtml = /*'<div class="botText">*/'<img id="image" src=""/ alt="Image Can\'t load" height="300" width="350">';//</div>';
              $("#chatbox").append(botHtml);
              $("#image").attr("src", src);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              //var img = document.getElementById('image');
              
            }
            if(data.quick_replies){
              data.quick_replies.forEach(element => {
                if(element.content_type == "text"){
                  var title = element.title;
                  var payload = element.payload;
                  var botHtml = '<span class="botText"> <input type="button" id ="autoButtonInput" class="autoButtonInput" value = "' + 
                     payload + '"/></span>';
                  $("#chatbox").append(botHtml);
                  document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                }
              });

              $('.autoButtonInput').on('click', function() {
                var rawText = $(this).val();
                console.log("message: " + rawText);
                socket.emit('user_uttered', {message:rawText});
                //socket.send(rawText);
                var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              });
            }
            console.log('Received message');
          });
          $('#buttonInput').on('click', function() {
            var rawText = $("#textInput").val();
            console.log("message: " + rawText);
            socket.emit('user_uttered', {message:rawText});
            //socket.send(rawText);
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
          
        });

        
        /*$("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });*/
        /*$("#buttonInput").click(function() {
          getBotResponse();
        })*/
      </script>
    </div>
  </body>
</html>